<div>
    <pre ng-bind="config.order | json"></pre>
    <table ng-class="config.settings.css.table">
        <thead>
        <tr>
            <th
                    ng-repeat="column in columns"
                    ng-bind="column.value"
                    ng-class="clazz.th($index)"
                    ng-click="sort($index)"
                    ></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rows">
            <td
                    ng-repeat="field in row.fields"
                    ng-class="field.clazz"
                    ng-bind="field.value"
                    ></td>
        </tr>
        </tbody>
    </table>
</div>