<div>
    <table ng-class="config.styles.table" ng-style="styles.table()">
        <colgroup>
            <col 
                ng-repeat="field in table.headline.fields" 
                ng-class="field.clazz"/>
        </colgroup>
        <thead ng-show="config.displayHeadline">
            <tr>
                <th
                    ng-repeat="field in table.headline.fields"
                    ng-bind="field.value"
                    ng-class="field.clazz"
                    ng-click="sort($index)"
                    ></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in table.data" ng-class="row.clazz" ng-click="click.row(row)">
                <td
                    ng-repeat="field in row.fields"
                    ng-class="field.clazz"
                    ng-bind="field.value"
                    ></td>
            </tr>
        </tbody>
    </table>
</div>
